*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  padding: 133px 30px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  width: 1140px;
  height: 534px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
}

.content__list {
  position: relative;
  height: 298px;
  margin-top: 26px;
  overflow-y: auto;
}

.content__details {
  width: 100%;
}

.content__accent {
  color: #545050;
}

.content__video-card {
  display: flex;
  width: 394px;
  padding: 2px;
  align-items: flex-start;
}

.content__video-card:active {
  background: #545050;
}

.content__video-card:hover {
  text-decoration: underline;

}

.content__video-card:focus {
  outline: none;
}

.content__video-card:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  flex-shrink: 0;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__video-card-description-container {
  width: 194px;
}

.content__card-link {
  color: #FFF;
  text-decoration: none;
  line-height: 90%;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.search-form {
  display: flex;
  align-content: start;
  justify-content: space-between;
}

.search-form__label {
  display: flex;
  width: fit-content;
  cursor: pointer;
  align-items: center;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
}

.search-form__checkbox-list {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.search-form__fieldset {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  border: none;
  gap: 5px;
}

.search-form__textfield {
  color: rgba(255, 255, 255, 0.70);
  width: 225px;
  background-color: #1B1919;
  border: 0;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  appearance: none;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  display: inline-flex;
  position: relative;
  gap: 5px;
  width: 19px;
  height: 19px;
  border: 1px solid #FFF;
  margin-right: 5px;
}

.search-form__pseudo-checkbox:after {
  content: "";
  display: none;
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: #FFF;
  top: 1.3px;
  left: 1px;

}

.search-form__checkbox:checked + .search-form__pseudo-checkbox:after {
  display: block;
}

.search-form__submit-button {
  display: flex;
  width: 194px;
  align-self: end;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  cursor: pointer;
  border: 1px solid #FFF;
  color: #FFF;
  background-color: #1B1919;
  justify-content: center;
  align-items: center;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-weight: 700;
  height: 34px;
  gap: 10px;
  flex-shrink: 0;
}

.button:active {
  background: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.more-button {
  width: 100%;
}
